/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Press Start 2P', cursive;
}

html,
body,
#root,
.app-main {
    height: 100vh;
    background-color: #312F45;
}

.app-main {}

.nav-wrapper {
    background-color: #312F45;
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 2rem;
    align-items: center;
    color: #B2B3C4;
}

.timer,
.char-found {
    font-size: 1.5rem;
    color: #E5E5E5;
}

.char-found {
    cursor: pointer;
}

.hidden {
    display: none;
}

.main-box {
    position: relative;
}

.image {
    width: 100%;
    cursor: pointer;
}

.characters {
    padding: 0.5rem;
    background-color: #312F45;
    position: absolute;
    right: 0;
    z-index: 1;
}

.flex-wrapper {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-size: 0.8rem;
}

.wrapper {
    margin-left: 1rem;
}

.character-icon {
    object-fit: cover;
    width: 70px;
    height: 70px;
}

.option-imgs {
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.character-name {
    color: #F3FAFF;
}

.character-title {
    color: #75BAE8;
}

.leaderboard,
.back-menu {
    cursor: pointer;
}

i {
    font-size: 1.5rem;
    color: #B2B3C4;
}

.game-selection-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
}

.game-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #F3FAFF;
    padding: 1rem;
}

.game-option h1 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.game-option p {
    margin-top: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: #F3FAFF;
    transition: all 0.3s ease-in-out;
}

.game-option p:hover {
    transform: scale(1.2)
}

.context-menu {
    position: absolute;
    z-index: 1;
}

.context-menu ul {
    background-color: #312F45;
    color: #F3FAFF;
}

.context-menu li {
    list-style: none;
    cursor: pointer;
    padding: 0.5rem;
}

.found img {
    filter: grayscale(100%) brightness(50%);
}

.found p {
    color: #B2B3C4;
    text-decoration: line-through;
}